@charset "utf-8";
/*! bulmaster | github.com/kirishu/bulmaster */

// override variables of bulma
// ※bulmaのimportを行う前に定義しておく
$body-size: 14px;
$modal-z: 900;
$primary: hsl(204, 71%, 53%);
$family-primary: "Hiragino Kaku Gothic ProN", "Yu Gothic Medium", YuGothic, Meiryo, sans-serif;
$family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$control-radius-small: 4px;
$column-gap: .25rem .5rem;
$label-weight: 400;
// ---------------------------

// variables of this file
$menu-width: 250px;
$header-height: 52px;
$page-padding-bottom: 100px;
// z-index
$z-icon-button: 800;    // topへ移動やハンバーガなどのアイコンのz-index
$z-menu: 1100;
$z-block-ui: 9000;
// colors
$header-color: #fff;
$header-bgcolor: #282d39;
$icon-humburger-head-color: #888;
$icon-humburger-head-hover-color: #fff;
$icon-humburger-body-color: #555;
$icon-humburger-body-hover-color: unset;
$icon-move-top-color: #555;
$menu-bgcolor: #2a3f54;
$menu-hover-bgcolor: rgba(255,255,255,0.2);
$menu-child-bgcolor: rgba(255,255,255,0.04);
$menu-color: #fff;
$menu-label-color: #7a7a7a;
$menu-active-color:#fff;

// // custom-color
// @import "custom-color.scss";

// import bulma
@import "./bulma/bulma.sass";

@keyframes displayFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes displayFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

pre {
    background-color: transparent !important;
}

// メニューul mixin
// $is_child : 子メニューのときはtrue
@mixin menu_ul($is_child) {

    list-style-type: none;
    width: inherit;

    li {
        padding: 0;
        float: none;

        a {
            display: block;
            color: $menu-color;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            margin-right: 1.15rem;
            padding-left: 12px !important;
            padding-top: 12px;
            padding-bottom: 11px;
            position: relative;
            z-index: 1;

            &.active {
                color: $menu-active-color;
                background: $primary !important;
                border-radius: 0 25px 25px 0;
            }

            &:hover:not(.active) {
                color: $menu-color;
                background-color: $menu-hover-bgcolor !important;
                border-radius: 0 25px 25px 0;
            }

            // アイコン
            i, svg {
                width: 32px !important;
                margin-right: 4px;
                font-size: 1.33em;
                line-height: .75em;
                vertical-align: -.225em;
            }

            @if $is_child {
                // 子メニューのアイコン
                &::before {
                    font-size: 8px;
                    font-weight: normal;
                    margin-left: 12px;
                    margin-right: 14px;
                    opacity: .4;
                    content: '\025c9';
                }
            }

        }

        &.menu-label {
            text-transform: none !important;
            padding-left: 20px !important;
            line-height: 1.5 !important;
            font-size: .85em;
            font-weight: bold;
            color: $menu-label-color;
        }

        @if $is_child == false {
            // 子メニューがあるitem
            &.has-children {
                > a {
                    cursor: default;
                    &::after {
                        font-size: 16px;
                        font-weight: bold;
                        position: absolute;
                    }
                }
                &:not(.open) {
                    > a::after {
                        content: "\03009";
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                        right: 10px;
                    }
                }
                &.open {
                    background: $menu-child-bgcolor;

                    > a::after {
                        content: "\03009";
                        transform: rotate(90deg);
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                        right: 12px;
                    }

                    > div.menu-child {
                        animation: displayFadeIn .3s linear 0s;
                        display: block;
                    }

                }

            }
        }

    }
}

// メニュー定義
menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: $menu-width;
    height: 100vh;
    background-color: $menu-bgcolor;
    z-index: $z-menu;
    overflow: hidden;
    transition-duration:.3s;

    // ロゴ
    .logo {
        width: 100%;
        height: $header-height;
        background-color: $header-bgcolor;
        display: flex;
        align-items: center;
        a {
            width: inherit;
            color: $header-color;
            display: flex;
            align-items: center;

            // ロゴのアイコン
            > i, svg {
                width: 52px !important;
                font-size: 2.5em;
            }
            > div {
                font-weight: bold;
                font-size: 21px;
            }
        }
    }

    // メニュー項目  (.menu-list という名前だとbulmaと被ってメンドウ)
    .menu-items {
        width: inherit;
        height: calc(100% - #{$header-height});
        padding-bottom: $page-padding-bottom;
        overflow: hidden;
        &:hover {
            overflow-y: auto;
        }

        &::-webkit-scrollbar {
            width: 7px !important;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 7px;
        }

        // メニュー（親）
        > ul {
            @include menu_ul(false);
        }

        // メニュー（子）
        div.menu-child {
            display: none;
            > ul {
                @include menu_ul(true);
            }
        }
    }

    // @Responsiveness
    @include until($desktop) {
        display: none;
    }

} // end of menu


// メニュー 表示/非表示 switch
menu .menu-switch {
    // @Responsiveness
    @include until($desktop) {
        display: none;
    }

    .switch {
        margin: 1rem 0 0 0;
        span {
            margin: 0;
        }
    }
}


// ヘッダnav
nav.header {
    @extend .navbar;
    @extend .is-fixed-top;

    left: $menu-width;
    min-height: $header-height;
    background-color: $header-bgcolor;
    color: $header-color;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    transition-duration:.3s;
    svg {
        margin-right: .6rem;
    }

    .level-left {
        // タイトル
        font-size: 1.5rem;

        @include until($tablet) {
            display: flex !important;
            flex-wrap: wrap;
            margin-top: .5rem !important;

            .level-item {
                margin-bottom: 0 !important;
                margin-right: .75rem !important;
            }
        }
    }

    .level-right {
        @include until($tablet) {
            // bulmaではセンタリングしていたが、右寄せ回り込みを行う
            display: flex !important;
            flex-wrap: wrap;
            margin-top: .2rem !important;
        }

        .level-item {
            @include until($tablet) {
                // bulmaでは ":not(:last-child)" にだけ, 右・下のマージンを適用しているけど, wrapさせるためにmobileではすべてマージンを取る
                margin-right: .75rem !important;
                margin-bottom: .75rem !important;
            }
        }
    }

    .navbtn {
        @extend .button;
        @extend .is-small;
        @extend .is-primary;
        @extend .is-outlined;
        background-color: #fff;
        border-radius: $control-radius-small;
        font-size: .85rem;
    }

    // @Responsiveness
    @include until($desktop) {
        left: 0;
    }
}


// tablet以下のときに表示するモーダルメニューのアニメーション定義
// [JS auto generate]
// ※操作はJSで行う
.modal-menu {
    .modal-background {
        transition-duration: .5s;
        opacity: 0;
    }
    menu {
        display: block;
        transition-duration: .5s;
        transform:translateX($menu-width * -1);
    }
}

// メニュー表示ハンバーガーボタン
.icon-hamburger {
    color: $icon-humburger-head-color;
    opacity: .5;
    cursor: pointer;
    &:hover {
        color: $icon-humburger-head-hover-color;
        opacity: 1;
    }
    display: none;

    // @Responsiveness
    @include until($desktop) {
        display: flex;
    }
}
// メニュー表示ハンバーガーボタン（ヘッダの中でなくbodyの直下にある場合の追加設定）
body > .icon-hamburger {
    position: fixed;
    top: 16px;
    left: 16px;
    font-size: 1.8rem;
    z-index: $z-icon-button;
    color: $icon-humburger-body-color !important;
    &:hover {
        color: $icon-humburger-body-hover-color;
        opacity: 1;
    }

    // @Responsiveness
    @include until($desktop) {
        display: block !important;
    }
}


// メイン
main {
    margin-left: $menu-width;
    transition-duration:.3s;

    // @Responsiveness
    @include until($desktop) {
        margin-left: 0;
    }
}

// コンテナ
.container {
    // ***@extend .container;
    // ※top margin は JS(setOutline)で設定を行う

    margin-left: 0 !important;      // 1408px以上のときにセンタリングされないように
    margin-right: 0 !important;     // 〃

    // 1408px以上でもmax-widthを設定しない
    &.unlimit-width {
        @include from($fullhd) {
            max-width: unset !important;
        }
    }
}

// コンテント
.content {
    // ***@extend .content;

    margin: 0 !important;
    padding: 0 2rem 2rem 2rem;

    &:last-child {
        padding-bottom: $page-padding-bottom;
    }

    ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1rem;
    }
}

// bulma override
.control {
    margin-bottom: 0 !important;
}


// ページ先頭ボタン
// [JS auto generate]
.icon-move-top {
    position: fixed;
    bottom: 16px;
    right: 20px;
    color: $icon-move-top-color;
    opacity: .5;
    visibility: hidden;     // visibilityを変更して出現させるのはJSで行う
    z-index: $z-icon-button;
    font-size: 2.25em;
    &:hover {
        opacity: 1;
    }
}

// block-ui
// [JS auto generate]
.block-ui {
    @extend .modal;
    z-index: $z-block-ui;
    cursor: wait;
    > .modal-background {
        > div {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            color: #ccc;
        }
    }
}

// Jumbotron style
.jumbotron {
    @extend .hero;
    @extend .is-medium;
    margin-bottom: 3rem;
    .hero-body {
        padding: 5rem 1.5rem 5rem 1.5rem;
        h1.title {
            font-size: 5rem !important;
            font-weight: 400;
        }
    }

    hr {
        height: 1px;
        opacity: .6;
    }
}

// 単語で改行させる設定
.is-break-word {
    word-wrap: break-word !important;
    word-break: break-word !important;
    white-space: pre-wrap !important;
}

// 単語の途中でも改行させる設定
.is-break-all {
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: pre-wrap !important;
}

// タブ付きグループパネル
.group-panel {
    border-radius: 6px;

    // 直下にdivは2つだけ定義すること
    > div:first-child {
        background-color: $menu-bgcolor;
        color: $menu-color;
        border-radius: 6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0.5rem 2rem 0.5rem 1rem;
        display: inline-flex;
    }
    > div:last-child {
        border: solid 1px $menu-bgcolor;
        border-radius: 6px;
        border-top-left-radius: 0;
        padding: 1.5rem;
        background: whitesmoke;
    }
}

// Switchコントロール (checkbox)
.switch {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    label {
        cursor: pointer;
        font-size: .9rem;

        input[type=checkbox] {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked+.lever {
                background-color: lighten($primary, 35%);
                &::before, &::after {
                    left: 18px;
                }
                &::after {
                    background-color: $primary;
                }
            }
            &:disabled+.lever {
                cursor: default;
                background-color: rgba(0,0,0,0.12);
                &::after {
                    background-color: #949494;
                }
            }
        }

        .lever {
            content: "";
            display: inline-block;
            position: relative;
            width: 36px;
            height: 14px;
            background-color: rgba(0,0,0,0.38);
            border-radius: 15px;
            -webkit-transition: background 0.3s ease;
            transition: background 0.3s ease;
            vertical-align: middle;
            margin: 0 10px;

            &::before, &::after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 0;
                top: -3px;
                -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
                transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
                transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
                transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
            }
            &::before {
                background-color: rgba(38,166,154,0.15);
            }
            &::after {
                background-color: #f1f1f1;
                -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
                box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
            }
        }
    }

    &.is-marginless .lever {
        margin: 0;
    }
}
