@charset "utf-8";
/*! bulmaster | github.com/kirishu/bulmaster */

// override variables of bulma
// ※bulmaのimportを行う前に定義しておく
$modal-z: 900;
$control-radius-small: 4px;
$column-gap: .25rem .5rem;
$family-primary: "Hiragino Kaku Gothic ProN", "Yu Gothic Medium", YuGothic, Meiryo, sans-serif;
$family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
// ---------------------------

//// custom-color
//@import "custom-color.scss";

// import bulma
@import "./bulma/bulma.sass";

// variables of this file
$menu-width: 250px;
$header-height: 52px;
$logo-height: $header-height;
$page-padding-bottom: 100px;

// z-index
$z-icon-button: 800;    // topへ移動やハンバーガなどのアイコンのz-index
$z-menu: 1100;
$z-block-ui: 9000;

// colors
$header-color: #fff;
$header-bgcolor: #282d39;
$icon-humburger-head-color: #888;
$icon-humburger-head-hover-color: #fff;
$icon-humburger-body-color: #555;
$icon-humburger-body-hover-color: unset;
$icon-move-top-color: #555;

$menu-color: #fff;
$menu-bgcolor: #2c323f;
$menu-hover-bgcolor: rgba(255,255,255,0.2);
$menu-child-bgcolor: rgba(255,255,255,0.04);
$menu-active-color:#fff;
$menu-active-bgcolor: $info;;

@keyframes displayFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes displayFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

pre {
    background-color: transparent !important;
    white-space: pre-line !important;
    word-wrap: break-word !important;
}

// メニューul mixin
// $is_child : 子メニューのときはtrue
@mixin menu_ul($is_child) {

    list-style-type: none;
    width: inherit;

    li {
        padding: 0;
        float: none;

        a {
            display: block;
            color: $menu-color;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            margin-right: 1.15rem;
            padding-left: 12px !important;
            padding-top: 12px;
            padding-bottom: 11px;
            position: relative;
            z-index: 1;

            &.active {
                color: $menu-active-color;
                background: $menu-active-bgcolor !important;
                border-radius: 0 25px 25px 0;
            }

            &:hover:not(.active) {
                color: $menu-color;
                background-color: $menu-hover-bgcolor !important;
                border-radius: 0 25px 25px 0;
            }

            // アイコン
            i, svg {
                width: 32px !important;
                margin-right: 4px;
            }

            @if $is_child {
                // 子メニューのアイコン
                &::before {
                    font-size: 8px;
                    font-weight: normal;
                    margin-left: 12px;
                    margin-right: 14px;
                    opacity: .4;
                    content: '\025c9';
                }
            }

        }

        &.menu-label {
            text-transform: none !important;
            padding-left: 20px !important;
            line-height: 1.5 !important;
            font-weight: bold;
        }

        @if $is_child == false {
            // 子メニューがあるitem
            &.has-children {
                > a {
                    cursor: default;
                    &::after {
                        font-size: 16px;
                        font-weight: bold;
                        position: absolute;
                    }
                }
                &:not(.open) {
                    > a::after {
                        content: "\03009";
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                        right: 10px;
                    }
                }
                &.open {
                    background: $menu-child-bgcolor;

                    > a::after {
                        content: "\03009";
                        transform: rotate(90deg);
                        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                        right: 12px;
                    }

                    > div.menu-child {
                        animation: displayFadeIn .3s linear 0s;
                        display: block;
                    }

                }

            }
        }

    }
}

// メニュー定義
menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: $menu-width;
    height: 100vh;
    background-color: $menu-bgcolor;
    z-index: $z-menu;
    overflow: hidden;

    // ロゴ
    .logo {
        height: $logo-height;
        background-color: $header-bgcolor;
        display: flex;
        align-items: center;
        a {
            width: inherit;
            color: $header-color;
            display: flex;
            align-items: center;

            // ロゴのアイコン
            > i, svg {
                width: 52px !important;
            }
            > div {
                font-weight: bold;
                font-size: 21px;
            }
        }
    }

    // メニュー項目  (.menu-list という名前だとbulmaと被ってメンドウ)
    .menu-items {
        width: inherit;
        height: calc(100% - #{$logo-height});
        padding-bottom: $page-padding-bottom;
        overflow: hidden;
        &:hover {
            overflow-y: scroll;
        }

        &::-webkit-scrollbar {
            width: 7px !important;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 7px;
        }

        // メニュー（親）
        > ul {
            @include menu_ul(false);
        }

        // メニュー（子）
        div.menu-child {
            display: none;
            > ul {
                @include menu_ul(true);
            }
        }
    }

    // @Responsiveness
    @include until($desktop) {
        display: none;
    }

} // end of menu

// ヘッダnav
nav.header {
    @extend .navbar;
    @extend .is-fixed-top;

    left: $menu-width;
    min-height: $header-height;
    background-color: $header-bgcolor;
    color: $header-color;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    svg {
        margin-right: .6rem;
    }

    .level-left {
        // タイトル
        span {
            font-size: 1.3rem !important;
        }

        @include until($tablet) {
            display: flex !important;
            flex-wrap: wrap;
            margin-top: .5rem !important;

            .level-item {
                margin-bottom: 0 !important;
                margin-right: .75rem !important;
            }
        }
    }

    .level-right {
        @include until($tablet) {
            // bulmaではセンタリングしていたが、右寄せ回り込みを行う
            display: flex !important;
            flex-wrap: wrap;
            margin-top: .2rem !important;
        }

        .level-item {
            @include until($tablet) {
                // bulmaでは ":not(:last-child)" にだけ, 右・下のマージンを適用しているけど, wrapさせるためにmobileではすべてマージンを取る
                margin-right: .75rem !important;
                margin-bottom: .75rem !important;
            }
        }
    }

    .navbtn {
        @extend .button;
        @extend .is-small;
        @extend .is-info;
        @extend .is-outlined;
        background-color: #fff;
        border-radius: $control-radius-small;
    }

    // @Responsiveness
    @include until($desktop) {
        left: 0;
    }
}


// tablet以下のときに表示するモーダルメニューのアニメーション定義
// [JS auto generate]
// ※操作はJSで行う
.modal-menu {
    .modal-background {
        transition-duration: .5s;
        opacity: 0;
    }
    menu {
        display: block;
        transition-duration: .5s;
        transform:translateX($menu-width * -1);
    }
}

// メニュー表示ハンバーガーボタン
.icon-hamburger {
    color: $icon-humburger-head-color;
    opacity: .5;
    cursor: pointer;
    &:hover {
        color: $icon-humburger-head-hover-color;
        opacity: 1;
    }
    display: none;

    // @Responsiveness
    @include until($desktop) {
        display: flex;
    }
}
// メニュー表示ハンバーガーボタン（ヘッダの中でなくbodyの直下にある場合の追加設定）
body > .icon-hamburger {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: $z-icon-button;
    display: block !important;
    color: $icon-humburger-body-color !important;
    &:hover {
        color: $icon-humburger-body-hover-color;
        opacity: 1;
    }
}


// メイン
main {
    margin-left: $menu-width;

    // @Responsiveness
    @include until($desktop) {
        margin-left: 0;
    }
}

// コンテナ
.container {
    //@extend .container;
    // ※top margin は JS(setOutline)で設定を行う

    margin-left: 0 !important;      // 1408px以上のときにセンタリングされないように
    margin-right: 0 !important;     // 〃

    // 1408px以上でもmax-widthを設定しない
    &.unlimit-width {
        @include from($fullhd) {
            max-width: unset !important;
        }
    }
}

// コンテント
.content {
    //@extend .content;

    margin: 0 !important;
    padding: 0 2rem 2rem 2rem;

    &:last-child {
        padding-bottom: $page-padding-bottom;
    }

    ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 1em;
        margin-bottom: 1rem;
    }
}

// ページ先頭ボタン
// [JS auto generate]
.icon-move-top {
    position: fixed;
    bottom: 16px;
    right: 20px;
    color: $icon-move-top-color;
    opacity: .5;
    visibility: hidden;     // visibilityを変更して出現させるのはJSで行う
    z-index: $z-icon-button;
    &:hover {
        opacity: 1;
    }
}

// block-ui
// [JS auto generate]
.block-ui {
    @extend .modal;
    z-index: $z-block-ui;
    cursor: wait;
    > .modal-background {
        > div {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            color: #ccc;
        }
    }
}

// Jumbotron style
.jumbotron {
    @extend .hero;
    @extend .is-medium;
    margin-bottom: 3rem;
    .hero-body {
        padding: 5rem 1.5rem 5rem 1.5rem;
        h1.title {
            font-size: 5rem !important;
            font-weight: 400;
        }
    }

    hr {
        height: 1px;
        opacity: .6;
    }
}

// 単語の途中でも改行させる設定
.is-break-all {
    word-wrap: break-word;
    word-break: break-all;
}
