$primary: #ff2e12;
$link: #009c34;

$header-bgcolor: #c90202;
$menu-bgcolor: #ea5056;
$menu-label-color: #333;

$radius: 4px;

// メニューが無い場合は↓に0pxを指定
//$menu-width: 0px;

// ヘッダが無い場合は↓に0pxを指定
//$header-height: 0px;
